services:
  postgres:
    image: postgres:16
    container_name: pg-restaurant-reservation
    environment:
      POSTGRES_DB: RestaurantReservationDb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - restaurant-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

networks:
  restaurant-network:
    driver: bridge
